<div class="flex h-screen w-full bg-gray-50 font-sans overflow-hidden">

    <!-- Mobile Overlay Backdrop -->
    @if (layoutService.isMobileMenuOpen()) {
    <div (click)="layoutService.closeMobileMenu()"
        class="fixed inset-0 z-20 bg-black/50 backdrop-blur-sm lg:hidden transition-opacity">
    </div>
    }

    <!-- Sidebar Component -->
    <app-sidebar></app-sidebar>

    <!-- Main View Area -->
    <div class="flex flex-col flex-1 w-full h-full overflow-hidden">

        <!-- Header Component -->
        <app-header></app-header>

        <!-- Dynamic Content Outlet -->
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50/50 p-4 md:p-8">
            <div class="max-w-7xl mx-auto w-full h-full">
                <router-outlet></router-outlet>
            </div>
        </main>

    </div>
</div>